<% unless user_signed_in? %>	
	<div class="hero-unit">
		<h1>Welcome to your Sandbox!</h1>
		<p>
			You've found the home page for the Sandbox application, a project influenced by <%= link_to "Pinterest", "https://pinterest.com" %>. Get inspired. Show your work.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn-primary btn-large" %>
		</p>
	</div>
<% end %>